p.head{
    text-align: center;
    font-size: 40px ;
    font-weight: bolder;
    font-family: monospace;
    text-shadow: rgba(0,255,0,1) -1px -2px 0.50em; /*syntax: -1px:left, -2px:higher, 0.5er:radious blue*/
}
p.inst{
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: monospace;
}
#btn{
    font-family: monospace;
}
#text{}
.main{
    background-color: slategrey;
}